body {
    padding-left: 20px;
    padding-right: 20 px;
}

td {
  word-wrap: break-word;
  padding: 5px;
}

table {
    table-layout: fixed;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

form {
    padding-bottom: 20px;
}

span {
    padding-left: 20px;
}

header {
    padding-bottom: 5px;
}
